.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    padding: 10px;
}

.content {
    padding: 20px;
}
body {
    background-color: #f0f8ff !important; /* Light blue background */
    color: #333; /* Text color */
    margin: 0;
    font-family: Arial, sans-serif;
}
