/* Reset body styling */
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background: linear-gradient(145deg, #2f2f2f, #121212);
  background-color: #1c1c1c;
  font: 16px/1.5 "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  color: #e0e0e0;
  font-weight: 400;
  padding: 50px 15px;
}

/* Wrapping content to center it */
.wrapper {
  max-width: 1200px; /* Increased max width for better responsiveness */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Header for fixed navigation */
header {
  width: 270px;
  position: fixed;
  top: 50px;
  left: 30px;
  background: #2e2e2e;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

header ul {
  list-style: none;
  padding: 0;
}

header ul li {
  padding: 8px;
}

header a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 5px;
}

header a:hover {
  background-color: #3e3e3e;
  color: #ffffff;
}

header footer {
  position: fixed;
  bottom: 30px;
  width: 270px;
  padding: 10px;
  color: #aaa;
  text-align: center;
}

/* Section styling for content */
section {
  width: calc(100% - 320px); /* To ensure space for fixed header */
  margin-left: 300px; /* Adjust according to fixed header */
  padding: 20px;
  background: #252525;
  border-radius: 8px;
}

h1, h2 {
  color: #fff;
  margin: 20px 0;
}

p, ul, ol, dl {
  margin-bottom: 20px;
}

a {
  color: #4e90ff;
  text-decoration: none;
}

a:hover {
  color: #00bcd4;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

/* Circle effect */
.circle {
  position: absolute;
  width: 30vmax;
  height: 30vmax;
  background: rgba(255, 167, 25, 0.25);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease, transform 0.1s ease, opacity 0.2s ease;
  box-shadow: 0 0 100px rgba(255, 167, 25, 0.25);
  filter: blur(50px);
  z-index: -1;
  opacity: 0.9;
  mix-blend-mode: overlay;
}

.circle:hover {
  width: 250px;
  height: 250px;
}

/* Header and footer styling for small screens */
@media screen and (max-width: 960px) {
  header, section {
    width: 100%;
    margin: 0;
  }

  section {
    padding: 10px;
  }

  header {
    position: relative;
    width: 100%;
    top: 0;
  }
}
